[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
cohere = "*"
pandas = "*"
scipy = "*"
tqdm = "*"
ipykernel = "*"
sentence-transformers = "*"
accelerate = "*"
dotenv = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
python_full_version = "3.14.2"
