[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
tqdm = "*"
ipykernel = "*"
transformers = "*"
sentence-transformers = "*"
torch = "*"  # needed for SentenceTransformer + MPS
llama-cpp-python = {extras = ["metal"], version = "*"}
cohere = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
